{% for page in pages %}
<li style="margin:auto;font-size:13px; -webkit-box-sizing: border-box;   -moz-box-sizing: border-box;     box-sizing: border-box;        ">
    <a style='font-size:13px; padding:auto' href="{{ path("pages",{'locale':page.langue,'slug' : page.slug}) }}"> {{ page.titre }}</a> </li>
{% endfor %}

