{% extends "::layout/layoutAdmin.html.twig" %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% block body -%}
    <h1>Modifier document</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                {{ form(edit_form) }}
                <br><br>
                <ul class="list-unstyled list-inline">
                    <li>
                        <a href="{{ path('admin_media') }}" class="btn btn-default">
                            retour à la liste des documents
                        </a>
                    </li>
                    <li class="pull-right">{{ form(delete_form) }}</li>
                </ul>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <br>
                <a href='{{ pathDefault ~ entity.getWebPath }}' target="_blank" >Voir / télécharger</a>
            </div>
        </div>
    </div>




{% endblock %}
